@charset "UTF-8";
/* CSS Document */

.nav-link.disabled {
  color: black;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: black;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}